<div class="container py-5">
    <!--Section: Content-->
    <section class="mx-md-5 dark-grey-text">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">

                <!-- Card -->
                <div class="card card-cascade wider reverse">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="../../../assets/multiProcessingMoguls2.png" alt="Sample image">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                </div>
                <!-- Card -->
                <!-- Excerpt -->
                <div class="mt-5">

                    <p>
                        In order to increase the customer experience, our team has decided on several key technologies 
                        that will help achieve the goals of our User Interface. The customer will have a single-entry 
                        point to our platform, one that is housed in an angular bootstrap designed website. Bootstrap will create 
                        a seamless user-experience, which will automatically generate a GUI specific to the device and 
                        browser type. With the increased technology available on mobile devices, high-quality images can 
                        be taken from any location, loaded to our service, and the user will receive an immediate response.
                    </p>
                    <p>
                        Once the customer obtains access to our service through Google and Google Firebase Authentication, 
                        they will have the ability to select an image from their device to upload for decryption. The purpose
                        of our service is to read handwritten text, though typed text can still be leveraged. Our first challenge 
                        is to obtain the text from the image into a format that can be manipulated for further decryption. 
                        After plenty of research and concept creation, our team has settled on leveraging the Google Vision API. 
                        The services it provides, while maintaining the stakeholder requirements is unmatched for the low maintenance cost.
                    </p>
                    <p>
                        Once we can detect the text from an image using OCR, we'll need to take the text and run it through our 
                        decryption methods with brute-forced patterns. Our team has decided to tackle the three most common 
                        encryption techniques: Caesar Cipher, AES and Triple DES. Caesar Cipher leverages a standard shift key of three, 
                        while AES and Triple DES do need a passphrase to decrypt. Our service does provide a convenient Encryption 
                        form for testing these services.
                    </p>
                    <p>
                        As our service begins to decrypt the message, each potential outcome is stored in a database for the
                        analysis phase, sorted by the user id. At this point, we are unaware of which outcome is the correct one, nor do we know the
                        language it originated from. Each possible outcome will be sent to a multi-language dictionary service for verification. 
                        The results from the service should be able to validate if the specific combination of letters and words corresponds
                        with a word in its designated language. Once we receive a positive response for every word in the original 
                        message, we will be able to tag it as the answer. 
                        
                        Supported languages are the following: English, Spanish, and French.
                    </p>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>

    <!--Section: Content-->

    <hr class="mb-5 mt-4">

    <!--Section: Content-->
    <section>

        <!-- Section heading -->
        <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
        <!-- Section description -->
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have some other questions, see our support center.</p>

        <div class="row text-center text-md-left">
            <div class="col-md-6 mb-4">
                <h5 class="font-weight-normal mb-3">Who are the primary stakeholders for this application?</h5>
                <p class="text-muted">
                    Potential users of the application are international security teams who
                    use the application to open and decode messages from foreign accounts/malicious users.
                </p>
            </div>

            <div class="col-md-6 mb-4">
                <h5 class="font-weight-normal mb-3">What is the scope of the project?</h5>
                <p class="text-muted">
                    The nature of this project is to create a working prototype of an entire system that links
                    'off the shelf' (OTS) technologies together in order to digitize and decrypt handwritten encoded messages. The system
                    involves a set of linked procedures that takes a handwritten encrypted message and digitizes it. Then, it gets decrypted
                    and solved.
                </p>
            </div>

            <div class="col-md-6 mb-4">
                <h5 class="font-weight-normal mb-3">What is encryption?</h5>
                <p class="text-muted">
                    Encryption is a way of scrambling data so that only authorized parties can understand the information. In technical terms, it is the process 
                    of converting human-readable plaintext to incomprehensible text, also known as ciphertext. In simpler terms, encryption takes readable data 
                    and alters it so that it appears random.
                </p>
            </div>

            <div class="col-md-6 mb-4">
                <h5 class="font-weight-normal mb-3">What is decryption?</h5>
                <p class="text-muted">The conversion of encrypted data into its original form is called Decryption. It is generally a reverse process of encryption.
                It decodes the encrypted information so that an authorized user can only decrypt the data because decryption requires a secret key or password.</p>
            </div>

            <div class="col-md-6 mb-4">
                <h5 class="font-weight-normal mb-3">What is an OCR?</h5>
                <p class="text-muted">Optical character recognition, the conversion of images of typed, handwritten, or printed text into machine-encoded text.</p>
            </div>

            <div class="col-md-6 mb-4">
                <h5 class="font-weight-normal mb-3">What is a COT?</h5>
                <p class="text-muted">Commercial off-the-shelf technologies available for integration efforts.</p>
            </div>
        </div>

    </section>

    <br />
    <hr class="mb-5 mt-4">

    <!--Section: Features v.1-->
    <section class="text-center">

        <!--Section heading-->
        <h2 class="h1 py-5 font-weight-bold">Why is it so great?</h2>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead grey-text">
            To maximize efficiency, and increase scalability, the following technologies were leveraged by our team:
        </p>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4">
                <mdb-icon fab icon="angular" size="3x" class="red-text"></mdb-icon>
                <h5 class="font-weight-bold mt-3">Angular</h5>
                <p class="grey-text">
                    Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by 
                    a community of individuals and corporations.
                </p>
                <a href="https://angular.io/">Learn More...</a>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4">
                <mdb-icon fab icon="google" size="3x" class="orange-text"></mdb-icon>
                <h5 class="font-weight-bold mt-3">Google Cloud Console</h5>
                <p class="grey-text">
                    Firebase is Google's mobile platform that helps grow apps and web applications. Comes with Storage, 
                    Real-Time Database, Hosting, Authentication, and many other options. meant to be considered for development 
                    that does not need the high-quality demands of Google Cloud Console.
                </p>
                <a href="https://console.cloud.google.com/">Learn More...</a>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4">
                <mdb-icon fab icon="github" size="3x" class="black-text"></mdb-icon>
                <h5 class="font-weight-bold mt-3">GitHub</h5>
                <p class="grey-text">
                    GitHub is a code hosting platform for version control and collaboration. It lets you and others work together on projects from anywhere.
                </p>
                <a href="https://guides.github.com/activities/hello-world/">Learn More...</a>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
        <br />
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-4">
                <mdb-icon fas icon="unlock" size="3x" class="blue-text"></mdb-icon>
                <h5 class="font-weight-bold mt-3">CryptoJS</h5>
                <p class="grey-text">
                    CryptoJS is a growing collection of standard and secure cryptographic algorithms implemented in JavaScript using best practices and patterns. 
                    They are fast, and they have a consistent and simple interface.
                </p>
                <a href="https://cryptojs.gitbook.io/docs/#documentation">Learn More...</a>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4">
                <mdb-icon fas icon="fingerprint" size="3x" class="purple-text"></mdb-icon>
                <h5 class="font-weight-bold mt-3">Cipher</h5>
                <p class="grey-text">
                    Simple ciphering function derived from Google's crypto.js AES encryption function.
                </p>
                <a href="https://github.com/RP-3/cipher">Learn More...</a>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4">
                <mdb-icon fas icon="spell-check" size="3x" class="green-text"></mdb-icon>
                <h5 class="font-weight-bold mt-3">ngx-spellchecker</h5>
                <p class="grey-text">
                    Simple Spellchecker is a spellchecker module for Angular, that allows to check if a word is misspelled and to get spelling suggestions.
                </p>
                <a href="https://github.com/JacobSamro/ngx-spellchecker">Learn More...</a>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Features v.1-->

    <br />
    <hr class="mb-5 mt-4">


    <!-- Section: Team v.1 -->
    <section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">
            While this team was randomly assigned by Joseph Oakes, the IST 440W professor, our team was able to deliver a fantastic product,
            one where we can all be proud of.
        </p>

        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" height="250px" width="250px" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Christopher Woods</h5>
                <ul class="list-unstyled mb-0">
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic" href="https://github.com/cjwoods89">
                        <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
                    </a>
                    <!-- Facebook -->
                    <a class="p-2 fa-lg ins-ic" href="https://www.facebook.com/christopher.woods.75436/">
                        <mdb-icon fab icon="fa-facebook" class="blue-text"> </mdb-icon>
                    </a>
                </ul>
                <p class="text-uppercase blue-text">
                    <strong>Full-Stack Developer</strong>
                </p>
                <p class="grey-text">
                    My name is Christopher Woods, and I'm in my last semester of PSU World Campus! Assuming all goes well, I'll have my Information
                    Science & Technology Major with a Security Risk Analysis Minor. I am located just outside of Indianapolis IN. I work at Salesforce
                    as a Software Engineer, so all things tech peak my interests.
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Shaun Dougherty</h5>
                <ul class="list-unstyled mb-0">
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic" href="https://github.com/Shaunthehugo">
                        <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
                    </a>
                </ul>
                <p class="text-uppercase blue-text">
                    <strong>Front-End Developer</strong>
                </p>
                <p class="grey-text">
                    I'm Shaun, I'm currently back in Pittsburgh because of the virus. I've taken some summer classes on WC before so I am familiar with the
                    process. I'm looking to become a DevOps engineer because I'm with technology architecture and cloud development. I'm a mobile-developer
                    first, but my front-end web development skills are improving and I'm trying to get better at database development.
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <br />

        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Christopher Moreau</h5>
                <ul class="list-unstyled mb-0">
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic" href="https://github.com/cxm1049">
                        <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
                    </a>
                </ul>
                <p class="text-uppercase blue-text">
                    <strong>Project Manager</strong>
                </p>
                <p class="grey-text">
                    My name is Chris Moreau and I am pursuing a degree in Security and Risk Analysis - Information and Cyber Security Option. This is my last
                    semester with World Campus. It's been a lengthy academic road starting in 1996 after my time in US Naval Aviation. I should have enough
                    credits for 3 degrees with courses taken over the years in Petroleum Engineering, Informatics, and Electrical Engineering.
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg" height="250px" width="250px" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Charlotte Darmody</h5>
                <ul class="list-unstyled mb-0">
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic" href="https://github.com/chardarmody">
                        <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
                    </a>
                    <!-- Facebook -->
                    <a class="p-2 fa-lg ins-ic" href="https://www.facebook.com/philocogency/">
                        <mdb-icon fab icon="fa-facebook" class="blue-text"> </mdb-icon>
                    </a>
                    
                </ul>
                <p class="text-uppercase blue-text">
                    <strong>Security Analyst</strong>
                </p>
                <p class="grey-text">
                    My name is Charlotte. I am currently located in the DC area, so my time zone is EST. Some of my interests are hiking, gardening, and cooking.
                    This will be my 8th semester taking world campus courses, and my last. I am majoring in Information Science & Technology. I have traveled abroad 
                    by myself once, but it is more notable that I have lived in 7 different states here in  the US; 6 of which were on my own.
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6">
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(19).jpg" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Pamela Bencosme</h5>
                <ul class="list-unstyled mb-0">
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic" href="https://github.com/pbencosme">
                        <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
                    </a>
                </ul>
                <p class="text-uppercase blue-text">
                    <strong>Project Sponsor</strong>
                </p>
                <p class="grey-text">
                    My name is Pamela Bencosme I am currently located in Pittsburgh, Pa. My major is security and risk analysis with an interest in information
                    and cyber security. I am currently a senior and this is my 3rd year with the world campus.  On my time away from school I like to go hiking,
                    join a Zumba class, or go to work as a CNA.
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Team v.1 -->
</div>